<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Блог</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1 th:text="${exposition.title}"></h1>
        <p th:text="${exposition.full_text}"></p>

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" th:each = "im : ${images}">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" th:src = "${im.url}">
                </div>
            </div>
        </div>
    </div>

        <p><b>Просмотры</b> <span th:text="${exposition.views}"></span></p>
        <a th:href="'/exposition/' + ${exposition.id} + '/edit'" class="btn btn-warning" sec:authorize="hasRole('ADMIN')" >Редактировать</a>
        <form th:action="'/exposition/' + ${exposition.id} + '/remove'" th:method="delete" sec:authorize="hasRole('ADMIN')">
            <button class="btn btn-warning" type="submit">Удалить</button>
        </form>
</div>
<header th:insert="blocks/footer :: footer"></header>
</body>
</html>